* {
    box-sizing: border-box;
}
.button {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 5px 10px;

    font-size: 16px;
    color: #272727;
    font-weight: 600;

    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: all 0.2s ease-in-out;

    outline: none !important;
}

.button:hover {
    background-color: rgba(206, 206, 206, 0.847);
}

.button::after {
    content: "";
    position: absolute;
    right: 0;

    height: 100%;
    width: 1px;
    background-color: gray;
}

.file_loader {
    display: flex;
    align-items: center;
    gap: 10px;

    max-width: 500px;
    width: fit-content;

    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.file_name {
    color: #959595;
    padding: 0 10px 0 0;
}

.file_name__active {
    color: black;
    padding: 0 10px 0 0;
}
