.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: aliceblue;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 50px rgb(105, 105, 105);

    z-index: 2;
}

.nav {
}

.nav_list {
    display: flex;
    gap: 15px;

    padding: 10px 20px;
    margin: 0;

    list-style: none;

    font-size: 18px;
}

.nav_item {
}

.nav_link {
    color: #242424;
}
