.model_card {
    width: 200px;

    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 50px rgb(105, 105, 105);
}
.model_card:hover {
    cursor: pointer;
    box-shadow: 0 0 50px rgb(180, 180, 180);
}

.model_card__thumb {
    padding-top: 20px;
}

h2 {
    color: black;
    padding: 20px 0;
    margin: 0;
}
