.card_container {
    width: 220px;

    cursor: pointer;

    user-select: none;
}
.card_container:hover {
    .name_container {
        background-color: black;
    }
    .name {
        color: white;
    }
}
.thumb_container {
    position: relative;

    width: 220px;
    height: 220px;
    padding: 10px;

    background-color: black;
    overflow: hidden;
}
.thumb_image {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 100%;
}
.name_container {
    padding: 13px;

    background-color: #d9d9d9;

    transition: all 0.2s ease-in;
}
.name {
    display: block;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;

    text-align: center;

    transition: all 0.2s ease-in;
}
