.sidebar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    background-color: aliceblue;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 50px rgb(105, 105, 105);

    z-index: 2;
}

.models_list {
    text-decoration: none;
    padding: 20px;
    margin: 0;
}

.models_list__item {
    padding: 5px;
}

.models_list__link {
    color: #242424;
}
